<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="./CSS/style.css">
    </head>
    <body>
        <div class="main-content">
               {{>header}}
               <p>thi site was created by me it uses data from mapbox.com anddarksky.net</p>
        <img class="portrait" src="/img/me.png">
        </div>
        
      
        {{>footer}}
    </body>
</html>