<!DOCTYPE html>
<html>
    <head>
 <link rel="stylesheet" href="./CSS/style.css">
    </head>
    <body>
        <div class="main-content">
              {{>header}}
        <h1>help</h1>
        </div>
       
        <p>{{help}}</p>
        {{>footer}}
    </body>
</html>